
.scroll-button-left,
.scroll-button-right {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer; 
}

.scroll-button-left {
  left: 0;
}

.scroll-button-right {
  right: 0;
}






